rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Hospitals
    match /artifacts/{appId}/public/data/hospitals/{hospitalId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;

      // Doctors under a hospital
      match /doctors/{doctorId} {
        allow read: if true;
        allow create: if true;
        allow update: if true;
        allow delete: if false;

        // Reviews under a doctor
        match /reviews/{reviewId} {
          allow read: if true;
          allow create: if true;
          allow update: if true;
          allow delete: if false;
        }
      }
    }
  }
}